<div class="container mt-4">
  <h1 class="mb-4">All Lists</h1>
  <%= link_to "Add List", new_list_path, class:"btn btn-info"  %>

  <div class="container mt-3">
    <div class="cards">
      <% @lists.each do |list| %>
        <div class="cards">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/health/wp-content/uploads/2023/10/Healthy-Breakfast-Ideas-6-Foods-To-Start-Your-Day-Ft-Image.jpg' %>)">
            <%= link_to list.name.upcase, list_path(list) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
