<div class="container mt-3">
  <h1>Add Bookmark</h1>
  <p>Please fill out the form</p>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: @movies %>
    <%= f.input :comment %>
    <%= f.submit "Create Bookmark", class:"btn btn-info" %>
  <% end %>
</div>
